<!DOCTYPE html>
<html lang="en" data-scale="large">
	<head>
		<meta charset="utf-8">
		<!-- import Tocas UI form CloudFlare CDN -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocas/4.1.0/tocas.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tocas/4.1.0/tocas.min.js"
		        integrity="sha384-OLBgp1GsljhM2TJ+sbHjaiH9txEUvgdDTAzHv2P24donTt6/529l+9Ua0vFImLlb"
		        crossorigin="anonymous"></script>
		<!-- import Noto Sans TC from Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com"/>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet"/>
		<!-- other configurations -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="shortcut icon" href="https://replit.com/public/icons/favicon-196.png" sizes="196x196" type="image/png"/>
		<title>URLs Management</title>
	</head>
	<body>
		<div class="ts-space is-large"></div>
		<div class="ts-container is-narrow">
			<!-- links.html tab -->
			<div id="links-tab">
				<div class="ts-segment is-padded">
					<!-- title -->
					<div class="ts-header is-heavy is-big is-center-aligned">All links</div>
					<div class="ts-space"></div>
					<!-- list -->
					<div class="ts-box">
						<table class="ts-table is-striped">
							<thead>
								<tr>
									<th class="is-collapsed">Back-half</th>
									<th>Destination</th>
									<th class="is-collapsed">Operation</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="is-collapsed">LCXTR</td>
									<td>https://twitter.com/nekogravitycat</td>
									<td class="is-end-aligned">
										<span class="ts-icon is-rounded is-pencil-icon"></span>
										<span class="ts-icon is-rounded is-trash-icon is-negative"></span>
									</td>
								</tr>
								<tr>
									<td class="is-collapsed">PLFTE</td>
									<td>https://onlyfans.com/nekogravitycat</td>
									<td class="is-end-aligned">
										<span class="ts-icon is-rounded is-pencil-icon"></span>
										<span class="ts-icon is-rounded is-trash-icon is-negative"></span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
